.button {
  border: none;
  height: 30px;
}

.func-page {
  min-width: 320px;
  max-width: 900px;
  width: 900px;
}

.func-list {
  width: auto;
}

.func-card {
  background-color: rgba(255, 255, 255, 0.086);
  overflow: hidden; /* Isso está correto */
  height: 180px;
  width: 260px;
  max-width: 350px;
  font-size: 13px;
}

.card-texts {
  width: 100%;
  font-size: 13px;
  min-height: 30px;
  display: block;
  line-height: 30px;

  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Remova todas as regras para o elemento <p> dentro do card */
.func-card p {
  margin-bottom: 10px;
  /* Nada mais é necessário aqui */
}
